
*{
    padding: 0;
    margin: 0;
    font-family: 'JetBrains Mono';
    text-decoration: none;
    box-sizing: border-box;
     transition: background-color 1s, color 0.1s;
     text-decoration: none;
     
}

:root{
    --backgroundDoSite: #FFFFFF;
    --corCabecalho: #262626;
    --corDoTextoMain: #ffffff;
    --corFundoWelcome: #17222F;
    /* -----Header and Main First---------*/
     --corDoTextoResto: #000000;
    --backgroundAboutMe: #e7e7ff;
    --backgroundProjetos: #BDC7D6;
    --backgroundcaixaProjetos: #cbe1ff;
    --backgroundCaixaHabilidades: #c0dcff;
    --backgroundContato: #CCCCCC;
    --backgroundCaixaInput: #ffffff;
    --backgroundRodape: #3C3B3B; 
    --corBordaInput: rgb(168, 168, 168);
    --corFundoInput: #ffffff;
    
}
body.darkmode{

    --backgroundDoSite: #2d2c2c;
    --corCabecalho: #1c1c1c;
    --corDoTextoMain: #ffffff;
    --corFundoWelcome: #101a25;
    /* -----Header and Main First---------*/
    
    --corDoTextoResto: #ffffff;
    --backgroundAboutMe: #373636;
     --backgroundProjetos: #464545;
     --backgroundcaixaProjetos: #565454;
     --backgroundCaixaHabilidades: #31353a;
     --backgroundContato: #494848;
     --backgroundCaixaInput: #726e6e6b;
     --backgroundRodape: #17202a; 
     --corBordaInput: rgb(112, 112, 112);
     --corFundoInput: #8e8e8e6b; 
     
     transition: background-color 1s, color 0.3s;
}
body{
    background-color: var(--backgroundDoSite);
}
.cabecalho{
    width: 100%;
    background-color: var(--corCabecalho);
    height: 8vh;
    position: sticky;
    display: flex;
    text-align: center;
    top: 0;
    z-index: 2000;
    
}
.menu{
    display: flex;
    z-index: 999;
    display: none;
    
}
#iconemenu{
    width: 55px;
    height: 40px;
    position: relative;
    top: 10px;
}
#caixa{
    position: absolute;
     width: 55px;
    height: 40px;
    opacity: 0;
}

#caixa:checked~.barralateral{
 margin-left: 0;
}
#iconclosed{
    width: 45px;
    height: 30px;
}
.barralateral{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1600;
    height: auto;
    max-width: 50%;
    border: 1px solid black;
    background-color: #101a25 ;
    margin-left: -280px;
    padding: 10px;
    gap: 10px;
    text-align: center;
    align-items: center;
    transition: 1s ease;
    border-radius: 5px;

}
.barralateral a{
    text-decoration: none;
    color: var(--corDoTextoMain);
    font-size: 15px;
}
.link-portfolio-menulateral {
  display: flex;
  text-align: center; 
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black; 
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 10px;
  height: 4vh;
  width: 110%;
  margin-top: 2vh;
  transition: 1s ease;
  white-space: nowrap;
}
.link-portfolio-menulateral:hover{
    background-color: #8a8a8a;
}
.bolinha {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
  margin-right: 8px; 
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  animation: expandirBorda 2s infinite ease-in-out;
  
}
.link-portfolio-menulateral p{
    font-size: 15px;
    
    margin-left: 5%;
    color: #000000;

}
@keyframes expandirBorda {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  }
  50% {
    transform: scale(1.5);
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
.links{
    display: flex;
    padding: 0;
    align-items: center;
    margin-top: 0.4rem;
    margin-left: 25%;
     width: 25%;
   
}
.links>a{
    color: var(--corDoTextoMain);
    margin-left: 4%;
    font-size: 15px;
    position: relative;
    margin-bottom: 0.20rem;
    
    
}
.links>a::after{
    content: "";
    transition: 0.6s ease;
    position: absolute;
    width: 0;
    height: 0;
    top: 20;
    left: 0;
    background-color: var(--corDoTextoMain);
    border-radius: 10px;
}

.links>a:hover::after{
    width: 100%;
    height: 0.4vh;
}

.icons{
    display: flex;
    align-items: center;
    margin-left: 15%;
   
    width: 10%;
}
.icons img{
        object-fit: cover;
    }
    a img{
        object-fit: cover;
    }
.icons>a{
    display: flex;
    align-items: center;
    margin-left: 5%;
}
#botaomudar{
    position: absolute;
    cursor: pointer;
    width: 34px;
    opacity: 0;
    height: 38px;
    border: 1px solid black;
    margin-left: 3%;
    z-index: 1000;
   
}
a>#icongithub{
    display: flex;
    align-items: center;
    
    height: 4vh;
    border-radius: 5px;  
    margin-bottom: 0;
}
#iconsol{
height: 4vh;
border-radius: 5px;
margin-bottom: 0;
margin-left: 5%;
}
#botaomudar:checked ~ #iconsol {
  opacity: 0;
  visibility: visible;
  display: none;
}

#botaomudar:checked ~ #iconmoon {
  opacity: 1;
  
  margin-left: 3%;
}
#iconmoon{
height: 4vh;
border-radius: 5px;
margin-bottom: 0;
margin-left: 3%;
position: absolute;
opacity: 0;


}

.link-portfolio {
  display: flex;
  align-items: center; /* centraliza verticalmente bolinha + texto */
  text-decoration: none;
  color: black; /* muda pra cor que tu quiser */ /* ex: tamanho do texto */
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  height: 5vh;
  max-width: 30%;
  margin-top: 2vh;
  transition: 1s ease;
  white-space: nowrap;
  
}
.link-portfolio:hover{
    background-color: #8a8a8a;
}
.bolinha {
  display: inline-block;
  width: 18px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
  margin-right: 8px; /* espaço entre a bolinha e o texto */
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  animation: expandirBorda 2s infinite ease-in-out;
}
.link-portfolio p{
    font-size: 15px;
    margin-left: 5%;
}
@keyframes expandirBorda {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  }
  50% {
    transform: scale(1.5);
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}




.plano-de-fundo-welcome{
    display: flex;
    text-align: center;
    background-color: var(--corFundoWelcome);
    width: 100%;
    height: 100%;
    
}

.box-me{
    display: flex;
    text-align: center;
    width: 70%;
    height: 40vh;
    margin-top: 25vh;
    padding: 20px;
    margin-left: 15%;

    
}
#eu1{
    max-width: 50%;
    height: 30vh;
    border-radius: 50%;
   margin-top: 2rem;
  object-fit: cover;
  transition: 1s ease;
  animation: flutuar 4s ease-in-out infinite;
  z-index: 500;
 
  
}
@keyframes flutuar {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-70px); /* sobe mais */
  }
  100% {
    transform: translateY(0);
  }
}

.box-me>#texto-apresentacao{
    color: var(--corDoTextoMain);
    text-align: center;
    margin-top: 2rem;
    margin-left: 5%;
    font-size: 32px;
   
}

.box-about-me{
    display: flex;
    flex-direction: column;
    margin-left: 22%;
    width: 55%;
    background-color: var(--backgroundAboutMe);
    margin-top: 10vh;
    border-radius: 10px;
    padding: 15px;
}
.box-about-me>h1{
    margin-top: 0;
    font-size: 30px;
    color: var(--corDoTextoResto);
     
}
#barraazul{
    width: 92%;
    height: 5vh;
    margin-top: 2vh;
    margin-left: 4%;
}
.information-about-me{
    display: flex;
    text-align: center;
}
.information-about-me>p{
    color: var(--corDoTextoResto);
    margin-top: 2rem;
    font-size: 22px;
    margin-left: 7%;
    padding: 10px;
    font-weight: 600;
}
#eu2{
    width: 90%;
    height: 30vh;
    border-radius: 5px;
   margin-top: 2rem;
  object-fit: contain;
  
}
.plano-de-fundo-projetos{
    background-color: var(--backgroundProjetos);
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    width: 100%;
    height: auto;
    padding: 20px;
}
.plano-de-fundo-projetos>h1{
    color: var(--corDoTextoResto);
    margin-top: 2rem;
    font-size: 30px;

}
.fileira-projetos{
    background-color: var(--backgroundProjetos);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: auto;
    margin-top: 3vh;
     margin-left: 15%;
     padding: 20px;
     border-radius: 10px;
     
}
.box-projeto1{
    background-color: var(--backgroundcaixaProjetos);
display: flex;
flex-direction: column;
width: 30%;
height: 35vh;
margin-left: 1%;
padding: 10px;
 border-radius: 5px;

}
.box-projeto1>h1{
color: var(--corDoTextoResto);
font-size: 19px;
}
.box-projeto1>p{
    color: var(--corDoTextoResto);
    font-size: 15px;
    margin-top: 3vh;
    text-align: left;
}

.box-projeto2{
display: flex;
flex-direction: column;
flex-direction: column;
width: 30%;
height: 35vh;
margin-left: 5%;
border-radius: 5px;
padding: 10px;
background-color: var(--backgroundcaixaProjetos);

}
.box-projeto2>h1{
    color: var(--corDoTextoResto);
    font-size: 19px;
    
    }
    .box-projeto2>p{
        color: var(--corDoTextoResto);
        font-size: 15px;
         margin-top: 2vh;
         text-align: left;
    }
.box-projeto3{
display: flex;
flex-direction: column;
width: 30%;
height: 35vh;
margin-left: 5%;
border-radius: 5px;
padding: 10px;
background-color: var(--backgroundcaixaProjetos);

}
.box-projeto3>h1{
    color: var(--corDoTextoResto);
    font-size: 19px;
    }
    .box-projeto3>p{
        color: var(--corDoTextoResto);
        font-size: 15px;
        margin-top: 2vh;
        text-align: left;
    }


.linguagens{
    display: flex;
    text-align: center;
   margin-top: 2vh;
}
#botaogithub{
   border: 3px solid  rgb(10,110,253,1);
   background-color:  rgb(10,110,253,1);
   border-radius: 20px;
   width: 50%;
   padding: 0px;
   margin-top: 3vh;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}
#botaogithub>h1{
    color: var(--corDoTextoMain);
    font-size: 15px;
    
}
.linguagemhtml{
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(10,110,253,1);
    color: white;
    margin-left: 2%;
}
.linguagemcss{
    background-color: rgb(10,110,253,1);
    margin-left: 5%;
    padding: 5px;
    border-radius: 20px;
    color: white;
}
#logogithub{
    width: 20%;
    height: 5vh;
    object-fit: contain;
    margin-left: 10%;
}
.Aba-habilidades{
    display: flex;
    flex-direction: column;
    
   
    
}
.Aba-habilidades>h1{
    color: var(--corDoTextoResto);
    margin-top: 5vh;
    font-size: 30px;
   
    
   
    
}
.Aba-habilidades img{
    width: 35%;
    height: 12vh;
}
/*------HABILIDADES-----*/
.fileira-habilidades{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr;
    gap: 20px;
    margin-top: 10vh;
    width: 70%;
    margin-left: 14%;
    
    
}
.fileira-habilidades img{
    height: 10vh;
    max-width: 50%;
    
}
.fileira-habilidades h1{
    color: var(--corDoTextoResto);
    font-size: 25px;

}
.habilidade1{
   
   padding: 15px;
   text-align: center;
   background-color: var(--backgroundCaixaHabilidades);

}
.habilidade2{
   
   padding: 15px;
   text-align: center;
   background-color: var(--backgroundCaixaHabilidades);
}
.habilidade3{
    
   padding: 15px;
   text-align: center;
   background-color: var(--backgroundCaixaHabilidades);
}
.habilidade4{
    
   padding: 15px;
   text-align: center;
   background-color: var(--backgroundCaixaHabilidades);
}
.habilidade5{
    
   padding: 15px;
   text-align: center;
   background-color: var(--backgroundCaixaHabilidades);
}
.habilidade5>#iconfigma{
    width: 30%;
    height: 12vh;
}
.habilidade6{
    
   padding: 15px;
   text-align: center;
   background-color: var(--backgroundCaixaHabilidades);
}
/*--------CONTATO*------*/
.plano-de-fundo-contato{
    background-color: var(--backgroundContato);
    width: 100%;
    height: auto;
    margin-top: 5vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    
    
}
.plano-de-fundo-contato>h1{
    font-size: 27px;
    color: var(--corDoTextoResto);
    
}
.caixas-de-formulario{
    display: flex;
    text-align: center;
    margin-top: 10vh;
    margin-left: 0;
    max-width: 100%; 
    height: auto;
    padding: 15px;
    gap: 10px;
    border-radius: 10px;

}
.caixa-de-formulario1{
    padding: 9px;
    background-color: var(--backgroundCaixaInput);
    display: flex;
    flex-direction: column;
    height: auto;
    width: 40%;
    margin-left: 10%;
    border-radius: 5px;
}
.caixa-de-formulario1 h1{
    font-size: 20px;
    margin-bottom: 1vh;
    color: var(--corDoTextoResto);
}
.alinhar2input{
    display: flex;
    text-align: center;
}
input[type="text"] , input[type="email"]{
    border-radius: 2px;
}


#camponome::placeholder{
    color: var(--corDoTextoResto);
}
#campoemail::placeholder{
    color: var(--corDoTextoResto);
}
#campotelefone::placeholder{
    color: var(--corDoTextoResto);
}
#campotelefone{
    color: var(--corDoTextoResto);
}

#campomensagem::placeholder{
    color: var(--corDoTextoResto);
}
#camponome{
    height: 3vh;
    width: 55%;
     border: 1px solid black;
     color: var(--corDoTextoResto);
     background-color: var(--corFundoInput);
     border: 1px solid var(--corBordaInput);
    
}
#campomensagem{
   height: 20vh;
   margin-top: 5vh;
   border-radius: 5px;
   background-color: var(--corFundoInput);;
   color: var(--corDoTextoResto);
   border: 1px solid var(--corBordaInput);
}
form{
    display: flex;
    flex-direction: column;
}


#campoemail{
  height: 3vh;
   width: 42%;
   border: 1px solid var(--corBordaInput);
   background-color: var(--corFundoInput);
   
}
#campotelefone{
    margin-top: 2vh;
    height: 5vh;
    border-radius: 2px;
    border: 1px solid var(--corBordaInput);
    width: 67%;
    
    background-color: var(--corFundoInput);
    
}
.botao{
    padding: 7px;
    margin-top: 3vh;
    border-radius: 25px;
    width: 30%;
    border: 1px solid rgb(10,110,253,1);
    background-color: rgb(10,110,253,1);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.botao:hover{
  background-color: #3d99fc;
}
.botao p{
    font-size: 16px;
    
}
.botao>#iconsms{
    height: 4vh;
    margin-left: 10%;
    
}
.caixa-de-formulario2{
    display: flex;
    flex-direction: column;
     background-color: var(--backgroundCaixaInput);
     width: 35%;
     height: auto;
     margin-left: 5%;
     padding: 9px;
     border-radius: 5px;
    
}
.plano-de-fundo-contato h1{
    margin-top: 1vh;
}
.caixa-de-formulario2 h1{
    font-size: 25px;
    color: var(--corDoTextoResto);
    margin-top: 1vh;
}
.caixa-de-formulario2 img{
    height: 8vh;
}
.alinharemail{
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 2vh;
    
}
.alinharemail img{
    margin-left: 10%;
}
.alinharemail p{
    font-size: 17px;
    color: var(--corDoTextoResto);
   
}
.alinhartelefone{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: left;
    margin-top: 3vh;
    left: 0;
    
}
.alinhartelefone p {
    font-size: 22px;
    color: var(--corDoTextoResto);
    margin-left: 2%;
   
}
.alinhartelefone img{
    margin-left: 10%;
}
.alinhargithub{
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 4vh;
}
.alinhargithub p{
    font-size: 21px;
    color: var(--corDoTextoResto);
}
.alinhargithub svg{
    height: 8vh;
    margin-left: 10%;
}
.rodape{
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 100%;
    background-color: var(--backgroundRodape);
}
.rodape p, h1{
    color: white;
}
.linha1rodape{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}
.linha1rodape img{
    height: 4vh;
}
.linha1rodape p{
    margin-left: 2%;
    font-size: 18px;
}

.linha2rodape{
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 2vh;
    margin-left: 35%;
}
.linha2rodape svg{
    height: 6vh;
}
.linha2rodape p{
    margin-left: 1%;
    font-size: 20px;
}

.linha3rodape{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}
.linha3rodape p, h1{
    margin-left: 2%;
    font-size: 20px;
}
/*------556px a 1100px-------*/
@media screen and (min-width:556px) and (max-width: 1100px){
    .links{
        margin-left: 0%;
        height: auto;
        
    }
    .icons{
        margin-left: 35%;
    }
    .links>a{
    color: var(--corDoTextoMain);
    margin-left: 6%;
    font-size: 0.75rem;
    position: relative;
    margin-bottom: 0.20rem;
    white-space: nowrap;

    }
    #botaomudar:checked ~#iconmoon{
       margin-left: 0;
    }
    
    #iconmoon{
        opacity: 0;
        margin-left: 7%;
    }
     #botaomudar:checked ~ #iconsol{
        opacity: 0;
    }
    #botaomudar:checked ~ #iconmoon{
        margin-left: 7%;
        opacity: 1;
    }
    .link-portfolio{
        margin-left: 5%;
        
        
    }
    .bolinha{
        width: 17px;
    }
    .link-portfolio p{
        font-size: 11px;
         white-space: nowrap;
    }
    
    #botaomudar{
        opacity: 0;
        margin-left: 5%;
    }
    .fileira-habilidades{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 3fr;
        width: 60%;
        border: 1px solid black;
        margin-left: 23%;
        
    }
    
}
@media screen and (max-width:555px){
    .menu{
        display: flex;
    }
    .links{
        display: none;
    }
    .cabecalho> .link-portfolio{
        display: none;
    }
    .icons{
        margin-left: 55%;
    }
    
    
    #botaogithub{
        height: 4vh;
        width: 37%;
    }
    #botaogithub h1{
        font-size: 12px;
    }
    #logogithub{
    width: 28%;
    height: 5vh;
    
   
     }
    #botaomudar{
        margin-left: 10%;
    }
    #iconmoon{
        opacity: 0;
        margin-left: 10%;
    }
     #botaomudar:checked ~ #iconsol{
        opacity: 0;
    }
    #botaomudar:checked ~ #iconmoon{
        margin-left: 10%;
        opacity: 1;
    }
    
/*-----------WELCOME--------*/
    .plano-de-fundo-welcome{
        flex-direction: column;
        height: auto;
        
    }
    .box-me{
        flex-direction: column;
        height: auto;
         margin-top: 10vh;
         
         
    }
    #eu1{
        margin-top: 0;
        max-width: 60%;
        height: auto;
        margin-left: 20%;
        
        
    }
    
    .box-me>#texto-apresentacao{
        flex-direction: column;
        text-align: center;
        font-size: 22px;
        margin-top: 2vh;
        margin-left: 0;
        
    }
    .box-about-me{
      width: 80%;
        
        margin-left: 10%;
    }
    .box-about-me img{
        object-fit: contain;
    }
    .box-about-me h1{
        font-size: 20px;

    }
    .information-about-me{
        flex-direction: column;
        border-radius: 5px;
        
    }
    .information-about-me p{
        font-size: 16px;
        margin-left: 0;
        margin-top: 1rem;
    }
    #barraazul{
        width: 95%;
    }
    #eu2{
        max-width: 40%;
        height: auto;
        border-radius: 5%;
        object-fit: cover;
        margin-left: 30%;
        
    }
    .fileira-projetos{
        flex-direction: column;
        gap: 20px;
    }
    .box-projeto1{
        margin-left: 5%;
    }
    .box-projeto1, .box-projeto2, .box-projeto3{
        width: 120%;
        height: auto;
    }
    

    .fileira-habilidades{
     grid-template-columns: 1fr;
     width: 55%;
     margin-left: 23%;
     
    
    }
    .fileira-habilidades h1{
        font-size: 20px;
    }
.fileira-habilidades img{
    height: 9vh;
    width: 27%;
    object-fit: contain;
}
.habilidade5>#iconfigma{
    height: 6vh;
    width: 20%;
}

.caixas-de-formulario{
    flex-direction: column;
    margin-top: 1vh;
    margin-left: 0%;
   
}
.caixa-de-formulario1{
    width: 100%;
    margin-left: 0;
}
.alinhar-2input{
    flex-direction: column;
    display: flex;
  
}

#campomensagem{
    height: 10vh;
    margin-top: 1vh;
}
#campoemail{
    margin-top: 1vh;
    width: 100%;
}
#campotelefone{
    height: 3vh;
    width: 100%;
    margin-top: 1vh;
    left: 0;
    margin-left: 0;
}
#camponome{
    width: 100%;
}
.botao{
    width: 30%;
    margin-top: 1vh;
}
.botao>p{
    font-size: 14px;
}
.botao>#iconsms{
    height: 2.5vh;
}
.caixa-de-formulario2{
    width: 100%;
    margin-left: 0;
}
.caixa-de-formulario2 img{
    height: 5vh;
}
.caixa-de-formulario2 svg{
    height: 5vh;
}
.caixa-de-formulario2 p{
    font-size: 0.85rem;
    overflow-wrap: break-word;
    word-break: break-all;  
    white-space: normal; 
    
}
.alinharemail img{
    margin-left: 0;
}
.alinhartelefone img{
    margin-left: 0;
}
.alinhargithub svg{
    margin-left: 0;
    
}

.rodape p{
font-size: 15px;
margin-left: 0%;
}
.rodape h1{
    font-size: 17px;
}


.linha1rodape img{
 height: 3vh;
 margin-left: 2%;  
}
.linha1rodape p{
    margin-top: 2vh;
}
.linha2rodape{
    margin-left: 3%;
}
.linha2rodape p{
    margin-left: 0;
}
.linha2rodape svg{
    height: 4vh;
    margin-left: 0;
    
}
.linha3rodape p{
    margin-top: 0.3vh;
    margin-left: 5%;
}
}