
*{
    padding: 0;
    margin: 0;
    font-family: 'JetBrains Mono';
    text-decoration: none;
    box-sizing: border-box;
     transition: background-color 1s, color 0.1s;
}
:root{
    --backgroundDoSite: #FFFFFF;
    --corCabecalho: #262626;
    --corDoTextoMain: #ffffff;
    --corFundoWelcome: #17222F;
    /* -----Header and Main First---------*/
     --corDoTextoResto: #000000;
    --backgroundAboutMe: #e7e7ff;
}
body.darkmode{

    --backgroundDoSite: #2d2c2c;
    --corCabecalho: #1c1c1c;
    --corDoTextoMain: #ffffff;
    --corFundoWelcome: #101a25;
    /* -----Header and Main First---------*/
    
    --corDoTextoResto: #ffffff;
    --backgroundAboutMe: #373636;
     transition: background-color 1s, color 0.3s;
}
body{
    background-color: var(--backgroundDoSite);
}
.cabecalho{
    width: 100%;
    background-color: var(--corCabecalho);
    height: 8vh;
    position: sticky;
    display: flex;
    text-align: center;
    top: 0;
    
}
.links{
    display: flex;
    padding: 0;
    align-items: center;
    margin-top: 0.4rem;
    margin-left: 25%;
     width: 25%;
   
}
.links>a{
    color: var(--corDoTextoMain);
    margin-left: 5%;
    font-size: 15px;
    position: relative;
    margin-bottom: 0.20rem;
    
}
.links>a::after{
    content: "";
    transition: 0.6s ease;
    position: absolute;
    width: 0;
    height: 0;
    top: 20;
    left: 0;
    background-color: var(--corDoTextoMain);
    border-radius: 10px;
}

.links>a:hover::after{
    width: 100%;
    height: 0.4vh;
}

.icons{
    display: flex;
    align-items: center;
    margin-left: 15%;
   
    width: 10%;
}
.icons>a{
    display: flex;
    align-items: center;
    margin-left: 5%;
}
#botao{
    position: absolute;
    cursor: pointer;
    width: 34px;
    opacity: 0;
    height: 38px;
    border: 1px solid black;
    margin-left: 3%;
}
a>#icongithub{
    display: flex;
    align-items: center;
    
    height: 4vh;
    border-radius: 5px;  
    margin-bottom: 0;
}
#iconsol{
height: 4vh;
border-radius: 5px;
margin-bottom: 0;
margin-left: 5%;
}

.botaoportfolio{
    display: flex;
    border: 1px solid black;
    
}
.botaoportfolio>a{
    color: white;
    margin-top: 1rem;

}







.plano-de-fundo-welcome{
    display: flex;
    text-align: center;
    background-color: var(--corFundoWelcome);
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.box-me{
    display: flex;
    text-align: center;
    width: 70%;
    height: 40vh;
    justify-content: center;
    margin-top: 25vh;
    padding: 20px;
    
    
    
}
#eu1{
    max-width: 50%;
    height: 30vh;
 border-radius: 50% !important;
   margin-top: 2rem;
  object-fit: cover;
  transition: 1s ease;
  animation: flutuar 4s ease-in-out infinite; 
}
@keyframes flutuar {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-70px); /* sobe mais */
  }
  100% {
    transform: translateY(0);
  }
}

.box-me>#texto-apresentacao{
    color: var(--corDoTextoMain);
    text-align: center;
    margin-top: 2rem;
    margin-left: 5%;
    font-size: 32px;
   
}

.box-about-me{
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    width: 50%;
    height: 50vh;
    background-color: var(--backgroundAboutMe);
    margin-top: 10vh;
    border-radius: 10px;
    padding: 15px;
}
.box-about-me>h1{
    margin-top: 0;
    font-size: 30px;
    color: var(--corDoTextoResto);
     
}
#barraazul{
    width: 92%;
    height: 5vh;
    margin-top: 2vh;
    margin-left: 4%;
}
.information-about-me{
    display: flex;
    text-align: center;
}
.information-about-me>h1{
    color: var(--corDoTextoResto);
    margin-top: 2rem;
    font-size: 23px;
}
#eu2{
    max-width: 50%;
    height: 30vh;
    border-radius: 5px;
   margin-top: 2rem;
  object-fit: cover;
  
}

@media (max-width:700px){
    .box-me{
        flex-direction: column;
         height: 70vh;
         margin-top: 0;
         
        

    }
    .plano-de-fundo-welcome{
        flex-direction: column;
    }
    #eu1{
        margin-top: 0;
        width: 30%;
        height: 12vh;
        
        
    }

    .welcome{
        flex-direction: column;
        height: 75vh;
        
    }
    .box-me>#texto-apresentacao{
        flex-direction: column;
        text-align: center;
        font-size: 20px;
        margin-top: 2vh;
        
    }
}